<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Lean" verbose="1">

    <test name="TestWithChrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="http://new.leanbusinessplanner.com/"/>
        <classes>
            <class name="ResetPasswordTest"/>
            <class name="AuthorizationTest"/>

            <class name="CreateUserTest"/>
            <class name="CreateNewCaseTest"/>

            <class name="BusinessIdeaTest"/>
            <class name="BusinessModelTest"/>

            <class name="EditProfileTest"/>
            <class name="GapsTests"/>
            <class name="ObjectivesTest"/>

            <class name="RisksTest"/>
            <class name="TasksTest"/>
            <class name="TestPageBusinessIdeaTest"/>
            <class name="TestsPageTests"/>
        </classes>
    </test>


</suite>
