<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Lean" verbose="1">

    <test name="TestWithChrome">
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="http://new.leanbusinessplanner.com/"/>

        <classes>

            <!--<class name="ru.AuthorizationTest"/>-->
            <class name="ru.ResetPasswordTest"/>

            <!--<class name="ru.CreateUserTest"/>-->

            <class name="ru.PrepareDataTest"/>

            <class name="ru.BusinessIdeaTest"/>
            <class name="ru.BusinessModelTest"/>
            <class name="ru.GapsTests"/>
            <class name="ru.ObjectivesTest"/>
            <class name="ru.RisksTest"/>
            <class name="ru.TasksTest"/>

            <!--<class name="ru.TestPageBusinessIdeaTest"/>-->
            <!--<class name="ru.TestsPageTests"/>-->

            <class name="ru.EditCasesTest"/>
            <!--<class name="ru.ProfileActionsTest"/>-->


        </classes>
    </test>


</suite>
